*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: orange;
}


.titolo{
    text-align: center;
    color: red;
    font-size: 60px;
}

.generale{
    position: absolute;
    bottom: 25%;
    left: 37%;
}

.allergie_alimentari{
    position: relative;
    top: 5px;
    color: skyblue;
    font-size: 30px;
}


.allergie_inalatorie{
    position: relative;
    top: 50px;
    color: blue;
    font-size: 30px;
}


/* Style the navigation menu */
.hamburger {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.hamburger #Links {
  display: none;
}


.hamburger a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.hamburger a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.hamburger a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}